{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<div class="container">
    <div class="text-center">
        <h1>About Robert</h1>
    </div>
    <br>
    <div class="row">
        <div class="col-4">
            <img src="{% static 'portfolio/robert.jpg' %}" class="img-fluid">
        </div>
        <div class="col-6 text-center mt-5">
            <p>Hey, my name is Roberto Villazana, but I go by Robert. I like to consider myself a backend developer. I have experience with Java, Spring/Spring Boot and DB2 database. Although, lately, I've been learning and focusing more with Python and Django. I like Python for its ease in automation. My interest in automating tasks lead me to backend python development.</p>
        </div>
    </div>
</div>

{% endblock %}